
.center {
    /*align-self: center;*/
    /*background-color: blue;*/
    text-align: center;
  }

  .myTable {
    align-self: center;    
        margin-left:auto; 
        margin-right:auto;    
  }

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;  
}

th {
 background-color: aquamarine;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;  
}

table tr:nth-child(even) {
  background-color: #ffffff;  
}
