<!--
<p>
    <button class="button" title="Test" (click)="doTest()">Test1</button>
  </p> 
-->
<!-- TABELA 
HomeTeam,AwayTeam,team1,team2,gameBTW,golo diff,golo diff2,golo diff3,JCasa,JFora,ECasa,EFora,vitoria,
PredNumero,Resultado,ProbVitoria,ProbEmpate,ProbDerrota

-->
<h1 class="center">Resultados das previsões de Futebol para a Jornada</h1> 
<div>
    <table border=1  class="myTable"> 
        <thead> 
            <tr>
                <th>Equipa Casa</th>                 
                <th>Equipa Visitante</th>                 
                <th>Resultado</th>                 
                <th>Prob. Casa</th>   
                <th>Prob. Visitante</th>   
                <th>Prob. Empate</th>   
                <th>Under/Over</th>   
            </tr> 
        </thead> 
        <tr *ngFor="let item of mycsv"> 
            <td> {{item.ECasa}} </td>         
            <td> {{item.EFora}} </td>             
            <td> {{item.Resultado}} </td>                     
            <td class="center"> {{item.ProbVitoria}} % </td>                     
            <td class="center"> {{item.ProbDerrota}} % </td>    
            <td class="center"> {{item.ProbEmpate}} % </td>     
            <td class="center"> {{item.underOver}} </td>                               
        </tr> 
    </table> 
</div>