<h1 class="center">Serviço de previsões instantâneas entre Equipas</h1> 
<br>

Equipa da Casa: <select [(ngModel)]="homeTeam" >
    <option *ngFor="let team of Teams">{{team}}</option>    
</select>
&nbsp;&nbsp;
Equipa Visitante: <select [(ngModel)]="awayTeam" >
    <option *ngFor="let team of Teams">{{team}}</option>    
</select>
&nbsp;
<button class="button" title="Process" (click)="pressButton()">Obter!</button>
<h2>{{equipas_vs}}</h2>
<h2>{{resultado_servidor}}</h2>


<!--     TABELA I -->

<div *ngIf="showTable">
<h3>Estatisticas das equipas:</h3>
<table border=1  class="myTable"> 
    <thead> 
        <tr>
<!--            <th>  </th>  -->
            <th> Equipa</th>
            <th> Jogos </th>
            <th> Vitórias </th>
            <th> Derrotas </th>
            <th> Empates </th>
            <th> Mare </th>
            <th> Jogos com 0 golos </th>
            <th> 1 golos </th>
            <th> 2 golos </th>
            <th> 3 ou mais golos</th>
        </tr> 
    </thead> 
    <tr> 
        <!--<td> Casa</td> -->
        <td> {{homeTeam}} </td>                                        
        <td class="center"> {{statjogosHome}}</td>
        <td class="center"> {{statvitoriasHome}} ({{percentagem(statvitoriasHome,statjogosHome)}}%)</td>
        <td class="center"> {{statderrotasHome}} ({{percentagem(statderrotasHome,statjogosHome)}}%)</td>
        <td class="center"> {{statempatesHome}} ({{percentagem(statempatesHome,statjogosHome)}}%)</td>

        <td class="center" *ngIf="statmareHome > 0">Vence a {{statmareHome}} jogos </td>
        <td class="center" *ngIf="statmareHome < 0">Perde a {{negative_to_positive(statmareHome)}} jogos </td>
        <td class="center" *ngIf="statmareHome == 0"> Empatou no ultimo jogo</td>

        <td class="center"> {{statgolos0Home}} ({{percentagem(statgolos0Home,statjogosHome)}}%)</td>
        <td class="center"> {{statgolos1Home}} ({{percentagem(statgolos1Home,statjogosHome)}}%)</td>
        <td class="center"> {{statgolos2Home}} ({{percentagem(statgolos2Home,statjogosHome)}}%)</td>
        <td class="center"> {{statgolos3Home}} ({{percentagem(statgolos3Home,statjogosHome)}}%)</td>

    </tr> 
    <tr > 
        <!--<td> Visitante </td>                                -->
        <td> {{awayTeam}} </td>                                
        <td class="center"> {{statjogosAway}}</td>
        <td class="center"> {{statvitoriasAway}} ({{percentagem(statvitoriasAway,statjogosAway)}}%)</td>
        <td class="center"> {{statderrotasAway}} ({{percentagem(statderrotasAway,statjogosAway)}}%)</td>
        <td class="center"> {{statempatesAway}} ({{percentagem(statempatesAway,statjogosAway)}}%)</td>

        <td class="center" *ngIf="statmareAway > 0">Vence a {{statmareAway}} jogos </td>
        <td class="center" *ngIf="statmareAway < 0">Perde a {{negative_to_positive(statmareAway)}} jogos </td>
        <td class="center" *ngIf="statmareAway == 0"> Empatou no ultimo jogo</td>

        <td class="center"> {{statgolos0Away}} ({{percentagem(statgolos0Away,statjogosAway)}}%)</td>
        <td class="center"> {{statgolos1Away}} ({{percentagem(statgolos1Away,statjogosAway)}}%)</td>
        <td class="center"> {{statgolos2Away}} ({{percentagem(statgolos2Away,statjogosAway)}}%)</td>
        <td class="center"> {{statgolos3Away}} ({{percentagem(statgolos3Away,statjogosAway)}}%)</td>

    </tr> 
</table> 

</div>



<section class="container" *ngIf="showTable">

    <!-- <h3>Gráficos da frequência </h3>    -->

    <!--  GRAFICO II -->
    <div class="left-half myFakeTable">
        <ejs-chart id="vitorias" [primaryXAxis]='g2_primaryXAxis' [primaryYAxis]='g2_primaryYAxis' [title]="g2_title"
            [tooltip]="g2_tooltip">
            <e-series-collection>
                <e-series type='StackingColumn' [dataSource]='g2_chartData' xName='x' yName='yHome' name='{{homeTeam}}'
                    [marker]="g2_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g2_chartData' xName='x' yName='yAway' name='{{awayTeam}}'
                    [marker]="g2_columnMarker"></e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

    <!--  GRAFICO I -->
    <div class="right-half myFakeTable">
        <ejs-chart id="golos" [primaryXAxis]='g1_primaryXAxis' [primaryYAxis]='g1_primaryYAxis' [title]='g1_title'
            [tooltip]="g1_tooltip">
            <e-series-collection>
                <e-series type='StackingColumn' [dataSource]='g1_chartData' xName='x' yName='yHome' name='{{homeTeam}}'
                    [marker]="g1_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g1_chartData' xName='x' yName='yAway' name='{{awayTeam}}'
                    [marker]="g1_columnMarker"></e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

</section>


<!--     TABELA II -->

<div *ngIf="showTable">
    <h3>Estatisticas das equipas separadas por jogos em casa ou fora:</h3>
    <table border=1  class="myTable"> 
        <thead> 
            <tr>
    <!--            <th>  </th>  -->
                <th> Equipa</th>
                <th> Posição </th>
                <th> Jogos </th>
                <th> Vitórias </th>
                <th> Derrotas </th>
                <th> Empates </th>
                <th> Jogos com 0 golos </th>
                <th> 1 golos </th>
                <th> 2 golos </th>
                <th> 3 ou mais golos</th>
            </tr> 
        </thead> 
        <tr>         
            <!-- Equipa homeTeam, dados quando é casa -->
            <td> {{homeTeam}} </td> 
            <td> Casa</td>
            <td class="center"> {{statjogosHomeH}}</td>
            <td class="center"> {{statvitoriasHomeH}} ({{percentagem(statvitoriasHomeH,statjogosHomeH)}}%)</td>
            <td class="center"> {{statderrotasHomeH}} ({{percentagem(statderrotasHomeH,statjogosHomeH)}}%)</td>
            <td class="center"> {{statempatesHomeH}} ({{percentagem(statempatesHomeH,statjogosHomeH)}}%)</td>

            <td class="center"> {{statgolos0HomeH}} ({{percentagem(statgolos0HomeH,statjogosHomeH)}}%)</td>
            <td class="center"> {{statgolos1HomeH}} ({{percentagem(statgolos1HomeH,statjogosHomeH)}}%)</td>
            <td class="center"> {{statgolos2HomeH}} ({{percentagem(statgolos2HomeH,statjogosHomeH)}}%)</td>
            <td class="center"> {{statgolos3HomeH}} ({{percentagem(statgolos3HomeH,statjogosHomeH)}}%)</td>
        </tr> 
        <tr>         
            <!-- Equipa homeTeam, dados quando Visitante -->
            <td> {{homeTeam}} </td> 
            <td> Fora</td>
            <td class="center"> {{statjogosHomeA}}</td>
            <td class="center"> {{statvitoriasHomeA}} ({{percentagem(statvitoriasHomeA,statjogosHomeA)}}%)</td>
            <td class="center"> {{statderrotasHomeA}} ({{percentagem(statderrotasHomeA,statjogosHomeA)}}%)</td>
            <td class="center"> {{statempatesHomeA}} ({{percentagem(statempatesHomeA,statjogosHomeA)}}%)</td>

            <td class="center"> {{statgolos0HomeA}} ({{percentagem(statgolos0HomeA,statjogosHomeA)}}%)</td>
            <td class="center"> {{statgolos1HomeA}} ({{percentagem(statgolos1HomeA,statjogosHomeA)}}%)</td>
            <td class="center"> {{statgolos2HomeA}} ({{percentagem(statgolos2HomeA,statjogosHomeA)}}%)</td>
            <td class="center"> {{statgolos3HomeA}} ({{percentagem(statgolos3HomeA,statjogosHomeA)}}%)</td>
        </tr> 
        <tr > 
            <!-- Equipa awayTeam, dados quando é a equipa da casa -->
            <td> {{awayTeam}} </td> 
            <td> Casa</td>                               
            <td class="center"> {{statjogosAwayH}}</td>
            <td class="center"> {{statvitoriasAwayH}} ({{percentagem(statvitoriasAwayH,statjogosAwayH)}}%)</td>
            <td class="center"> {{statderrotasAwayH}} ({{percentagem(statderrotasAwayH,statjogosAwayH)}}%)</td>
            <td class="center"> {{statempatesAwayH}} ({{percentagem(statempatesAwayH,statjogosAwayH)}}%)</td>
    
            <td class="center"> {{statgolos0AwayH}} ({{percentagem(statgolos0AwayH,statjogosAwayH)}}%)</td>
            <td class="center"> {{statgolos1AwayH}} ({{percentagem(statgolos1AwayH,statjogosAwayH)}}%)</td>
            <td class="center"> {{statgolos2AwayH}} ({{percentagem(statgolos2AwayH,statjogosAwayH)}}%)</td>
            <td class="center"> {{statgolos3AwayH}} ({{percentagem(statgolos3AwayH,statjogosAwayH)}}%)</td>    
        </tr> 
        <tr > 
            <!-- Equipa awayTeam, dados quando é visitante -->
            <td> {{awayTeam}} </td> 
            <td> Fora</td>                               
            <td class="center"> {{statjogosAwayA}}</td>
            <td class="center"> {{statvitoriasAwayA}} ({{percentagem(statvitoriasAwayA,statjogosAwayA)}}%)</td>
            <td class="center"> {{statderrotasAwayA}} ({{percentagem(statderrotasAwayA,statjogosAwayA)}}%)</td>
            <td class="center"> {{statempatesAwayA}} ({{percentagem(statempatesAwayA,statjogosAwayA)}}%)</td>
    
            <td class="center"> {{statgolos0AwayA}} ({{percentagem(statgolos0AwayA,statjogosAwayA)}}%)</td>
            <td class="center"> {{statgolos1AwayA}} ({{percentagem(statgolos1AwayA,statjogosAwayA)}}%)</td>
            <td class="center"> {{statgolos2AwayA}} ({{percentagem(statgolos2AwayA,statjogosAwayA)}}%)</td>
            <td class="center"> {{statgolos3AwayA}} ({{percentagem(statgolos3AwayA,statjogosAwayA)}}%)</td>    
        </tr>         
    </table> 
    
    </div>


<section class="container" *ngIf="showTable">

    <div class="left-half myFakeTable">
        <!--  GRAFICO III -->
        <ejs-chart id="vitorias2" [primaryXAxis]='g3_primaryXAxis' [primaryYAxis]='g3_primaryYAxis' [title]="g3_title"
            [tooltip]="g3_tooltip">
            <e-series-collection>
                <e-series type='StackingColumn' [dataSource]='g3_chartData' xName='x' yName='yHomeH' name='{{homeTeam}} Casa' [marker]="g2_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g3_chartData' xName='x' yName='yHomeA' name='{{homeTeam}} Fora' [marker]="g2_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g3_chartData' xName='x' yName='yAwayH' name='{{awayTeam}} Casa' [marker]="g2_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g3_chartData' xName='x' yName='yAwayA' name='{{awayTeam}} Fora' [marker]="g2_columnMarker"></e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
    <div class="left-half myFakeTable">
        <!--  GRAFICO IV -->
        <ejs-chart id="golos2" [primaryXAxis]='g4_primaryXAxis' [primaryYAxis]='g4_primaryYAxis' [title]="g4_title"
            [tooltip]="g4_tooltip">
            <e-series-collection>
                <e-series type='StackingColumn' [dataSource]='g4_chartData' xName='x' yName='yHomeH' name='{{homeTeam}} Casa' [marker]="g4_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g4_chartData' xName='x' yName='yHomeA' name='{{homeTeam}} Fora' [marker]="g4_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g4_chartData' xName='x' yName='yAwayH' name='{{awayTeam}} Casa' [marker]="g4_columnMarker"></e-series>
                <e-series type='StackingColumn' [dataSource]='g4_chartData' xName='x' yName='yAwayA' name='{{awayTeam}} Fora' [marker]="g4_columnMarker"></e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
</section>

<!--     TABELA III -->  

<div *ngIf="showTable">
    <h3>Resultados históricos dos jogos entre estas duas equipas:</h3>
    <table border=1  class="myTable"> 
        <thead> 
            <tr>
                <th>Equipa Casa</th>                 
                <th>Equipa Visitante</th>                 
                <th>Data</th>     
                <th>Golos Casa</th> 
                <th>Golos Visitante</th> 
                <th>Golos Totais</th> 
                <th>Resultado</th>              
            </tr> 
        </thead> 
        <tr *ngFor="let item of dataToShow"> 
            <td> {{item.HomeTeam}} </td>         
            <td> {{item.AwayTeam}} </td>             
            <td class="center"> {{item.Date}} </td>                  
            <td class="center"> {{item.FTHG}} </td>  
            <td class="center"> {{item.FTAG}} </td> 

            <td class="center"> {{somar_valores(item.FTHG,item.FTAG)}} </td> 
            
            <td  class="center" *ngIf="item.FTR == 'H'"> Vitoria {{item.HomeTeam}} </td>  
            <td  class="center" *ngIf="item.FTR == 'A'"> Vitoria {{item.AwayTeam}} </td>  
            <td  class="center" *ngIf="item.FTR == 'D'"> Empate </td>  
        </tr> 
    </table> 
</div>