<h1 class="center">Resultados históricos das competicões entre Equipas</h1> 
<br>
A seguinte tabela apresenta os resultados historicos dos diferentes jogos entre as equipas. <br>
Onde a coluna historico indica informação sobre a historia de resultados entre a equipa da casa e visitante. <br>
As colunas de Mare, indicam a quantos jogos a equipa está a vencer ou a perder. <br>
Pode selecionar apenas uma equipa para obter informação apenas de jogos dessa equipa. <br>
<br>
Selecionar apenas uma equipa: <select [(ngModel)]="selectedTeam" (change)="updateTableBasedOnSelection()">
    <option *ngFor="let team of Teams">{{team}}</option>    
</select>
<button class="button" title="Process" (click)="clearSelection()">Clear</button>
<p></p>
<!--
    <button class="button" title="Test" (click)="doTest()">Test1</button>
    <button class="button" title="Clear" (click)="updateTableBasedOnSelection()">Update</button>
    <button class="button" title="Process" (click)="clearSelection()">Clear selection</button>    
</select>
<br>
-->

<div>
    <table border=1  class="myTable"> 
        <thead> 
            <tr>
                <th>Equipa Casa</th>                 
                <th>Equipa Visitante</th>                 
                <th>Data</th>     
                <th>Golos Casa</th> 
                <th>Golos Visitante</th> 

                <th>Resultado</th> 

                <th>Histórico</th> 
                <th>Mare Casa</th> 
                <th>Mare Visitante</th> 
                <th>Under/Over</th> 
            </tr> 
        </thead> 
        <tr *ngFor="let item of dataToShow"> 
            <td> {{item.HomeTeam}} </td>         
            <td> {{item.AwayTeam}} </td>             
            <td class="center"> {{item.Date}} </td>                  
            <td class="center"> {{item.FTHG}} </td>  
            <td class="center"> {{item.FTAG}} </td> 
             
            <td  class="center" *ngIf="item.FTR == 'H'"> Casa </td>  
            <td  class="center" *ngIf="item.FTR == 'A'"> Visitante </td>  
            <td  class="center" *ngIf="item.FTR == 'D'"> Empate </td>  

            
            <td class="center" *ngIf="item.historico == 0"> Equilibradas </td> 
            <td class="center" *ngIf="item.historico > 0"> Casa vence por {{item.historico}} jogos</td>
            <td class="center" *ngIf="item.historico < 0"> Visitante vence por {{negative_to_positive(item.historico)}} jogos</td>

            <td class="center" *ngIf="item.HomeMare > 0">Vence a {{item.HomeMare}} jogos </td>
            <td class="center" *ngIf="item.HomeMare < 0">Perde a {{negative_to_positive(item.HomeMare)}} jogos </td>
            <td class="center" *ngIf="item.HomeMare == 0"> Empatou </td> 
            <td class="center" *ngIf="item.AwayMare > 0">Vence a {{item.AwayMare}} jogos </td>
            <td class="center" *ngIf="item.AwayMare < 0">Perde a {{negative_to_positive(item.AwayMare)}} jogos </td>
            <td class="center" *ngIf="item.AwayMare == 0"> Empatou </td> 
             
            <td class="center"> {{item.UnderOver}} </td> 
                             
        </tr> 
    </table> 
</div>

<!-- (H=Home Win, D=Draw, A=Away Win)
    Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,historico,HomeMare,AwayMare,UnderOver
11/08/2017,Arsenal,Leicester,4,3,H,0,0,0,over
12/08/2017,Brighton,Man City,0,2,A,0,0,0,under
-->