<!--
<p>dashboard works!</p>
-->

<span class = "myTitle"> José & Hugo </span>
<button [routerLink]="['/historico']">Historico</button>
<button [routerLink]="['/previsoes']">Previsões</button>
<button [routerLink]="['/servidor']">Servidor</button>
<!--

<button *ngIf="loginService.isAUserLogedIn()" (click)="loginService.doLogout()" [routerLink]="['/login']">{{lang.txt.dashboard_top_buttons.logout_out}} </button>
-->