.myTitle {
    font-size: 3em;
    font-family: Arial, "Times New Roman", Times, serif;
    color: purple;
}

button{
    color: black;
    background-color: white;
    text-align: center;
    font-family: Arial, "Times New Roman", Times, serif;
    font-size: 2em;
    font-weight: bold;
    /*border-radius: 25em;*/
    border: 0.05em solid grey;
    margin: 0.40em;
}
/* button:focus{ background-color: blue;} */
button:hover{    
    background-color: lightgrey;
}
button:active{
    border: 0.05em solid yellow;
    background-color: Red;
}

